@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500");

body {
    font-family: "Roboto", Helvetica, sans-serif;
}

h2, h3 {
    color: #666f77;
    line-height: 1em;
    margin: 0 0 1em 0;
}

header.major {
    padding: 1.5em;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

header p {
    color: #bbb;
    position: relative;
    margin: 0 0 1em 0;
}

#note {
    color: #bbb;
    font-size: 0.9em;
}

#note a {
    color: #bbb;
    text-decoration:underline;
}

#note a:hover {
    color: #555f66;
    text-decoration:underline;
}

#custom-table {
	font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

#custom-table td, #custom-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#footer {
    padding: 1em 0 1em 0;
    color: #bbb;
    font-size: 0.9em;
    text-align: center;
}

#footer a {
    color: #bbb;
    text-decoration: none;
}

#custom-table tr:nth-child(even){background-color: #f2f2f2;}

#custom-table tr:hover {background-color: #ddd;}

#custom-table th {
	font-weight: normal;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0b5394;
    color: white;
}

input[type=text] {
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    background-color: #0b5394;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
	list-style: none;
	padding-left: 1em;
}

li {
	border-top: solid 1px rgba(144, 144, 144, 0.25);
	padding: 0.5em 0;
}

ul li:first-child {
	border-top: 0;
	padding-top: 0;
}

li a {
	text-decoration: none;
    color: #555f66;
}

